<section id="promo">
    <div id="label">
        Upcoming Shows
        <hr>
    </div>
    <section id="events" tabindex="-1">
        <% if(admin == true) { %>
            <form action="/admin/createEvent" class="adminForm event">
                <button id="addEvent" class="add" title="Add an event">+</button>
                <h2>Add event</h2>
            </form>
        <%}%>
        <% if(events == null || events.length == 0 || false) { %> <!-- Set false to true if you don't want events-->
            <% if(admin == false){ %>
            <h2 style="text-align:center; font-size: 120%; position: relative;
             left:50%; transform: translate(-50%,0);">Nothing coming up right now.</h2>
            <% } %>
        <% }
        else 
        {%>
            <% for(let i = 0; i < events.length; i++){ %>
            <section class="event" id="image-<%- i %>" onclick="toggleImage(this);" tabindex="0">
                <img class="promoIMG not-visible" src="<%- events[i].event_promo %>">
                <div style="text-align:center">
                    <h2 class="not-visible"><%- events[i].event_name %></h2>
                    <p class="not-visible"><%- events[i].event_date.toLocaleDateString("en-US") %> @<br> <%- events[i].event_location %> </p>
                </div>
            </section>
            <% } %>
            <% for(let i = 0; i < events.length; i++){ %>
                <div class="poster" onclick="toggleImage(this);" id="poster-<%- i %>">
                    <span style="background-image: url('..<%- events[i].event_promo %>');"></span>
                </div>
            <% } %>
        <% } %>
    </section>
    
</section>