<!DOCTYPE html>
<html lang="en">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <head>
        <%- include('partials/metadata'); %>
    </head>
    
    <body onload="setup()">
        <%- include('partials/header'); %>
        <div id="bottomSide">
            <%- include('partials/events', {events: events}); %>
            <section id="main" tabindex="-1">
                <%- include('partials/colors'); %>
                <% if(admin == true) { %>
                    <form action="/admin/createEntry">
                        <button id="addEntry" class="add" title="Create new entry">
                            <p>NEW ENTRY ✎</p>
                        </button>
                    </form>
                <% } %>
                <% if(entries != null && entries.length != 0){
                    let imgURL = "https://ik.imagekit.io/mvrecords/";
                    entries.forEach(entry =>{ %>
                        <section class="entry">
                            <h2><%- entry.title %></h2>
                            <p class="date"><%- entry.date %></p>
                            <% if(entry.img_id != null){ %>
                                <div class="home-img-container">
                                    <img src="<%- imgURL + entry.img_id %>">
                                </div>
                            <% } %>
                            <%- entry.html %>
                        </section>
                    <% }) %>
                <% } else { %>
                    <section class="entry">
                        <h2>Unable to connect to SQL database!</h2>
                    </section>
                <% } %>
            </section>
        </div>
        <script src="/js/index.js"></script>
    </body>
</html>