<!DOCTYPE html>
<html lang="en">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <head>
        <%- include('../partials/metadata'); %>
        <link rel="stylesheet" href="/css/admin.css">
        <link rel="stylesheet" href="/css/project.css">
        <link rel="stylesheet" href="/css/editProject.css">
    </head>
    
    <body onload="setup()">
        <%- include('../partials/header'); %>
        <div id="bottomSide">
            <section id="main">
                <%- include('../partials/colors'); %>
                <form class="backForm">
                    <button class="back" title="Go back" onclick="history.back()">
                        <p>GO BACK</p>
                    </button>
                </form>
                <section>
                    <form id="projectForm" action="/admin/uploadPastEvent" method="POST" enctype="multipart/form-data">
                        <p style="margin:0"><strong>Edit this past event</strong></p>
                        
                        <input type="text" name="title" value="<%- data.title %>" id="titleInput" maxlength="255" required>
                        <label for="imgUpload" style="font-size:80%;">Upload an image:</label>
                        <div class="img-container">
                            <% let imgURL = "https://ik.imagekit.io/mvrecords/"; %>
                            <% if(data.img_id){ %>
                                <img id="oldImg" src="<%- imgURL + data.img_id %>">
                            <% } %>
                            <div class="button-container">
                                <input type="file" name="imgUpload" id="imgUploadEdit" form="projectForm"
                                accept="image/png, image/jpg, image/jpeg, image/gif, image/webp" style="cursor:pointer">
                            </div>
                        </div>
                        <input name="id" value="<%- data.id %>" style="display:none">
                        <button id="submit">Post</button>
                    </form>
                </section>
            </section>
        </div>
        <script src="/js/index.js"></script>
        <script src="/js/project.js"></script>
    </body>
</html>