<!DOCTYPE html>
<html lang="en">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <head>
        <%- include('../partials/metadata'); %>
        <link rel="stylesheet" href="/css/admin.css">
        <link rel="stylesheet" href="/css/manage.css">
    </head>
    
    <body onload="setup()">
        <%- include('../partials/header'); %>
        <div id="bottomSide">
            <section id="main">
                <%- include('../partials/colors'); %>
                <form action="/admin" class="backForm">
                    <button class="back" title="Go back">
                        <p>GO BACK</p>
                    </button>
                </form>
                <h1>Manage <%- mode %></h1>
                <table>
                    <tr>
                        <% if(data != null){ %>
                            <% for(const field of data.fields) { %>
                                <% if(field.name == "id")
                                    continue; %>
                                <th><%- field.name %></th>
                            <% } %>
                            <th class="action-div">Action</th>
                        <% } %>
                    </tr>
                    <% if(data != null){ %>
                        <% for(const entry of data.rows) { %>
                            <tr>
                                <% let id = 0; %>
                                <% for(const [key, val] of Object.entries(entry)) {%>
                                    <% if(key == "id"){
                                        id = val;
                                        continue;
                                    } %>
                                <td><div class="table-val-div"><%- val %></div></td>
                                <% } %>
                                <td class="action-div">
                                    <div>
                                        <button class="edit actionButton"><p>Edit</p></button>
                                        <button class="delete actionButton" id="<%- `${id}/${mode}` %>"><p>Delete</p></button>
                                    </div>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </table>
            </section>
        </div>
        <script src="/js/index.js"></script>
        <script src="/js/manage.js"></script>
    </body>
</html>