<!DOCTYPE html>
<html lang="en">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/colcade@0/colcade.js"></script>
    <head>
        <%- include('../partials/metadata'); %>
        <link rel="stylesheet" href="/css/projects.css">

    </head>
    <script src="/js/projects.js"></script>
    
    <body onload="setup()">
        <%- include('../partials/header'); %>
        <div id="bottomSide">
            <%- include('../partials/events', {events: events}); %>
            <section id="main">
                <%- include('../partials/colors'); %>
                <h1 style="text-align: center; margin:0;">See what we're working on!</h1>
                <p>(Click for more information)</p>
                <p id="notMuch">Not much going on right now...</p>
                <div class="grid">
                    <div class="grid-col grid-col--1"></div>
                    <div class="grid-col grid-col--2" style="display:none;"></div>
                    <div class="grid-col grid-col--3" style="display:none;"></div>
                    <div class="grid-col grid-col--4" style="display:none;"></div>

                    <%if(projects != null && projects.length != 0 && true) { %>
                    <% projects.forEach(project =>{ %>
                        <div class="grid-item" onclick="toggleDesc(this)">
                            <h3 class="content"> <%- project.title %> </h3>
                            <img src="<%- project.img %>">
                            <div class="desc hidden"> <!-- overlay -->
                                <div class="overlay"> <!-- content -->
                                    <h1 style="text-align:center">
                                        <%- project.title %>
                                    </h1>
                                    <br>
                                    <div class="img-container">
                                        <img src="<%- project.img %>">
                                    </div>
                                    <h3 style="text-align:justify"><%- project.desc %></h3>
                                </div>
                            </div>
                        </div>
                    <%})
                    }%>
                    <!-- <div class="grid-item" onclick="toggleDesc(this)">
                        <h3 class="content">Test</h3>
                        <img src="/images/founders.webp">
                        <div class="desc hidden">
                            <h1>Header</h1>
                            <h3>Test</h3>
                        </div>
                    </div>
                    <div class="grid-item" onclick="toggleDesc(this)">
                        <h3 class="content">Test</h3>
                        <img src="/images/dog.webp">
                        <div class="desc hidden">
                            <h1>Header</h1>
                            <h3>Test</h3>
                        </div>
                    </div>
                    <div class="grid-item" onclick="toggleDesc(this)">
                        <h3 class="content">Test</h3>
                        <img src="/images/ethan.webp">
                        <div class="desc hidden">
                            <h1>Header</h1>
                            <h3>Test</h3>
                        </div>
                    </div>
                    <div class="grid-item" onclick="toggleDesc(this)">
                        <h3 class="content">Test</h3>
                        <img src="/images/tnt.webp">
                        <div class="desc hidden">
                            <h1>Header</h1>
                            <h3>Test</h3>
                        </div>
                    </div>
                    <div class="grid-item" onclick="toggleDesc(this)">
                        <h3 class="content">Test</h3>
                        <img src="/images/habo.webp">
                        <div class="desc hidden">
                            <h1>Header</h1>
                            <h3>Test</h3>
                        </div>
                    </div>
                    <div class="grid-item" onclick="toggleDesc(this)">
                        <h3 class="content">Test</h3>
                        <img src="/images/team-min.webp">
                        <div class="desc hidden">
                            <h1>Header</h1>
                            <h3>Test</h3>
                        </div>
                    </div> -->
                </div>
            </section>
        </div>
        <script src="/js/index.js"></script>
    </body>
</html>