<!DOCTYPE html>
<html lang="en">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/colcade@0/colcade.js"></script>
    <head>
        <%- include('../partials/metadata'); %>
        <link rel="stylesheet" href="/css/projects.css">

    </head>
    <script src="/js/projects.js"></script>
    
    <body onload="setup()">
        <%- include('../partials/header'); %>
        <div id="bottomSide">
            <%- include('../partials/events', {events: events}); %>
            <section id="main">
                <%- include('../partials/colors'); %>
                <h2 style="text-align: center; margin:1em;">See what we're working on!</h2>
                <% if(admin == false) {%>
                    <p id="notMuch">Not much going on right now...</p>
                <% } %>
                <% if(admin == true) { %>
                    <form action="/admin/createProject">
                        <button id="addProject" class="add" title="Add a project">
                            <p style="margin:0; padding:0">Showcase your work ♬</p>
                        </button>
                    </form>
                <%}%>
                <div class="grid">
                    <div class="grid-col grid-col--1"></div>
                    <div class="grid-col grid-col--2" style="display:none;"></div>
                    <div class="grid-col grid-col--3" style="display:none;"></div>
                    <div class="grid-col grid-col--4" style="display:none;"></div>

                    <%if(projects != null && projects.length != 0 && true) { %>
                    <% let imgURL = "https://ik.imagekit.io/mvrecords/"; %>
                    <% projects.forEach(project =>{ %>
                        <div class="grid-item" onclick="toggleDesc(this)">
                            <h3 class="content"> <%- project.title %> </h3>
                            <img src="<%- imgURL + project.img_id %>">
                            <div class="desc hidden"> <!-- overlay -->
                                <div class="overlay"> <!-- content -->
                                    <h1 style="text-align:center">
                                        <%- project.title %>
                                    </h1>
                                    <br>
                                    <div class="img-container">
                                        <img src="<%- imgURL + project.img_id %>">
                                    </div>
                                    <p><%- project.description %></p>
                                </div>
                            </div>
                        </div>
                    <%})
                    }%>
                </div>
                
            </section>
        </div>
        <script src="/js/index.js"></script>
    </body>
</html>